<label for="marca">Nombre: </label>
<input type="string" id="marca" name="marca" [(ngModel)]="nombre"><br>
<label for="color">Apellido: </label>
<input id="string" id="color" name="color" [(ngModel)]="apellido"><br>
<label for="velocidad">Dni: </label>
<input type="number" id="velocidad" name="velocidad" [(ngModel)]="dni"><br>
<label for="piñones">Telefono: </label>
<input type="number"id="piñones" name="piñones"[(ngModel)]="telefono"><br>
<label for="platos">Direccion: </label>
<input type="number" id="platos" name="platos" [(ngModel)]="direccion"><br>
<label for="electrica">Email</label>
<input id="string" id="color" name="color" [(ngModel)]="email"><br><br><br>
<input type="submit" value="subir" (click)="anadir()">
<app-componente4-hijo2 [pacientes]="pacientes"></app-componente4-hijo2>
